
<h1> Links </h1>

<ul id='links'>
  <% @links.each do |link| %>
    <li>
      Title: <%= link.title %>
      URL:   <%= link.url   %>
    </li>
  <% end %>
</ul>


<% @link_tag.each do |pair| %>
    @links.each do |link|
      if link.id == pair.link_id
        link.title
      end
    @tags.each do |tag|
        if tag.id == pair.tag_id
          tag.title
        end
  end

<% end %>
